# Node modules
Backend/node_modules/
book-library-frontend/node_modules/

# Logs
*.log

# Build output
book-library-frontend/build/
book-library-frontend/dist/
book-library-frontend/dist/

# Environment files
*.env

# System files
.DS_Store
Thumbs.db
